.fav-artists{
    font-weight: 800;
    font-size: 22pt;
    max-height: fit-content;
}

.songs{
    max-height: fit-content;
}

.yt{
    color: red;   
    font-size: 22pt;
}
.insta{
    color: rgb(255, 118, 118);
    font-size: 22pt;
}
.blog{
    font-size: 20pt; 
    color: rgb(211, 0, 0);
}

.langs{
    background-color: rgb(30, 30, 31);
}

.langs-list{
    list-style: none;
    padding: 5px;
    font-size: 22pt;
}
.cartoon-title{
    font-weight: 800;
    font-size: 25pt;
}
.dsimp{
    color: rgb(255, 0, 0);
}
.artist-info{
    background-color: rgb(44, 44, 44);
}

.artist-description{
    background-color: rgb(8, 8, 10);
}
.artist-profile-img{
    border-radius: 100px;
}
.desc{
    font-size: 18pt;
}
.lisst{
    list-style: none;
}

header nav ul li{
    list-style: none;
    display: inline-block;
    text-align: center;
}

.links{
    text-decoration: none;
    color: black;
    padding: 3px;
    font-weight: 800;
}

.links:hover{
    background-color: rgb(30, 30, 31);
    color: white !important;
    padding: 5px;
    border-radius: 7px;
    font-weight: 400;
    transition: all ease-in-out .2s;
    text-decoration: underline;
}
